name: Build Symfony Backend (GHCR)

on:
  push:
    branches: [main]
    tags:
      - "v*.*.*"

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build backend image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/footpulse-backend:latest backend

      - name: Push backend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/footpulse-backend:latest
